# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

# Project data & artifacts
data/
models/
reports/*.png
reports/*.pdf
reports/*.svg

# IDE
.vscode/
.idea/