# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.ipynb_checkpoints/
export_web_assets.py

# OS cruft
.DS_Store
Thumbs.db

# Project data & artifacts
data/
.models/

# IDE
.vscode/
.idea/